.Verble-container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}
@keyframes shake {
    0%   { transform: translate(1px, 1px) rotate(0deg); }
    10%  { transform: translate(-1px, -2px) rotate(-1deg); }
    20%  { transform: translate(-3px, 0px) rotate(1deg); }
    30%  { transform: translate(3px, 2px) rotate(0deg); }
    40%  { transform: translate(1px, -1px) rotate(1deg); }
    50%  { transform: translate(-1px, 2px) rotate(-1deg); }
    60%  { transform: translate(-3px, 1px) rotate(0deg); }
    70%  { transform: translate(3px, 1px) rotate(-1deg); }
    80%  { transform: translate(-1px, -1px) rotate(1deg); }
    90%  { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
}

.Verble-error {
    background-color: rgb(255, 117, 129);
    animation-name: wobble;
    animation: shake 0.4s;
    animation-iteration-count: infinite;
}

.Verble-mic {
    font-size: 50px;
}

.Verble-micContainer {
    border: black solid 2px;
    padding: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    user-select: none;
    box-shadow: 0 0 15px 5px gray;
}

.Verble-gridContainer {
    flex-grow: 2;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
}